#root {
  background-image: url("@/assets/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  background: #f1fffa !important;
}

.github-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
